img
{
    width: 200px;
}
body
{
    text-align: center;
    font-family: 'fantasy';
    background: black;
    color: goldenrod;
  display: flex;
    justify-content: center;
    align-items: flex-start;
}
.goo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  filter: url('#goo'); /* Applies the SVG filter to container */
}

.goo-drop {
  position: absolute;
  background: linear-gradient(to bottom, #FFD700, #FF8C00); /* Golden color */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  top: -150px; /* Start above viewport */
  animation: drip 4s infinite linear;
}

/* Create variation in the drops */
.goo-drop:nth-child(1) { left: 20%; animation-delay: 0s; }
.goo-drop:nth-child(2) { left: 50%; animation-delay: 1s; width: 120px; height: 120px; }
.goo-drop:nth-child(3) { left: 80%; animation-delay: 2s; width: 80px; height: 80px; }

@keyframes drip {
  0% { top: -150px; }
  100% { top: 100vh; } /* End below viewport, regardless of height */
}